.personalInfo {
    margin-bottom: 5px;
    padding: 0.5rem;
}
.contactInfo {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
    font-size: 0.8rem;
}

.contactInfo > * {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4px;
}