#root {
  /* max-width: 1280px; */
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.app {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 6rem;
  padding: 1rem;
}

.leftSidebar {
  width: 25vw;
  flex-grow: 0;
  color: var(--black);
  border-radius: 10px;
}

form {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
}

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */