#root {
  /* max-width: 1280px; */
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.app {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 6rem;
  padding: 1rem;
}

.leftSidebar {
  width: 25vw;
 
  color: var(--black);
  border-radius: 10px;
}

form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.container {
  margin-bottom: 2rem;
  background-color: var(--light-gray);
  border-radius: 0.5rem;
}
.expandInputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  cursor: pointer;
}

.inputContainerHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.closed {
  display: none;
}

.chevron {
  transition: transform 0.3s ease-out;
}

.chevron.closed {
  transform: rotate(-180deg);
}

.addEducation {
  background-color: transparent;
  padding: 4px;
  border-radius: 10px;
  border: 4px solid rgb(238, 240, 244);
}
.addEducation i {
  margin-right: 5px;
}

.addEducation.closed {
  visibility: hidden;
}
/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */