.resume {
    background-color: white;
    padding: 2rem;
    width: clamp(400px, 60vw, 1000px);
    flex-grow: 2;
}

.resumeName {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
}