.addItemButton {
    width: 120px;
    height: 1.5rem;
    background-color: rgb(141, 188, 250);
    padding: 4px;
    border-radius: 10px;
    border: 1px solid rgb(31, 31, 31);
    margin: 10px 0;
    transition: 0.1s ease-in-out;
}

.addItemButton:hover {
    transform: scale(1.05)
}

.addItemButton i {
    margin-right: 5px;
}
  
.addItemButton.closed {
    visibility: hidden;
}