.collapsedItem {
  display:flex;
  align-items: center;
  justify-content: space-between;
  border-top: 5px solid var(--main-bg-color);
  height: 40px;
  gap: 10px;
}

.titleButton {
  width: 90%;
  height: 100%; 
  border: 0px;
  /*border-radius: 5px;; */
  font-size: 0.75rem;
  font-weight: 700;
  text-align: left;
  margin-left: 20px;
  cursor: pointer;
}

.collapsedItem:last-child {
  border-bottom: 5px solid var(--main-bg-color);
}

.deleteButton {
  height: 1rem;
  font-size: 1rem;
  border: 0px;
  color: rgb(153, 2, 2);
  margin-right: 10px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.deleteButton:hover {
  transform: scale(1.05);
}

.eye {
  height: 1rem;
  font-size: 1rem;
  border: 0px;
  cursor: pointer;
  color: rgb(112, 112, 112);
  transition: 0.2s;
}

.eye:hover {
  color: black;
}