.expandInputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    cursor: pointer;
    transition: opacity, transform, visibility;
    transition-duration: 0.25s;
}
  
.inputContainerHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.closed {
    /* display: none; */
    height: 0px;
    transition: 0.05s;
    visibility: hidden;
    opacity: 0;
    transform-origin: top;
    z-index: 100;
}

.chevron {
    height: 0.75rem;
    transition: transform 0.3s ease-out;
}
  
.chevron.closed {
    transform-origin: center;
    height: 0.75rem;
    display: block;
    visibility: visible;
    opacity: 1;
    transform: rotate(-180deg);
}